<ng-include src="'views/navigation.html'"></ng-include>

<div class="row">
	<div class="col-sm-8 blog-main">
		<div class="blog-header">
			<h1 class="blog-title">{{}}</h1>
		</div>
		<div class="list-group">
			<a href="#/article/{{article.id}}" class="list-group-item" ng-repeat="article in articles"
			   ng-if="article.categoryId == selectedCategory.categoryId">
				<h4 class="list-group-item-heading">{{article.title}}</h4>
			</a>
		</div>
	</div>
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidebar-module sidebar-module-inset well">
			<h4>List of All Articles(DESC)</h4>
			<ol class="list-unstyled">
				<li ng-repeat="article in articles" ng-click="selectCategory(article.categoryId)">
					•
					<a href="#/article/{{article.id}}">
						{{article.title}}
					</a>
				</li>
			</ol>
		</div>
		<div class="sidebar-module sidebar-module-inset well">
			<h4>List of All Articles(Group By CAT)</h4>
			<ul class="list-unstyled">
				<li ng-repeat="category in categories">
					<a href="#/home">
						{{category.name}}:
					</a>
					<ol class="list-unstyled">
						<li ng-repeat="article in articles" ng-if="category.id == article.categoryId"
							ng-click="selectCategory(article.categoryId)">
							&nbsp;&nbsp;&nbsp;&nbsp;•
							<a href="#/article/{{article.id}}">
								<h6 style="display: inline"> {{article.title}}</h6>
							</a>
						</li>
					</ol>
				</li>
			</ul>
		</div>
	</div>
</div>
